@font-face {
  font-family: 'MyFont'; /* Choose a name for the font */
  src: url('BAHNSCHRIFT.TTF') format('truetype');
  font-weight: normal; /* Specify the font weight */
  font-style: normal;  /* Specify the font style */
}
@font-face {
  font-family: 'LogoFont'; /* Choose a name for the font */
  src: url('ariblk.TTF') format('truetype');
  font-weight: normal; /* Specify the font weight */
  font-style: normal;  /* Specify the font style */
}
#header-logo{
  font-family: 'LogoFont' ;
  font-weight: bold;
  color: rgb(255,192,0);
  font-size: 60px;
  margin-left: 50px;
  cursor: default;
}
#header{
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  z-index: 10983434;
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.header-options{
  color:white;
  font-family: 'MyFont';
  font-size: 22px;
  cursor: pointer;
}
.header-options:hover{
  opacity: 0.9;
}
#header-options-container{
  display:flex;
  gap: 50px;
  align-items: center;
  padding-right: 100px;
}
#contactUs{
  margin-left:15px;
  border: none;
  background-color: rgb(255,192,0);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom:5px;
  border-radius: 5px;
}
#introduction{
  color: white;
  font-family: 'MyFont';
  font-weight: 600;
  padding-top: 150px;
  padding-left: 50px;
  background-image: url('Picture2.png');
  padding-bottom:100px;
  background-position: center;
  background-size: 100%;
}
#introduction-text{
  font-size: 55px;
  width:600px;
}
#introduction-button{
  margin-top: 50px;
  font-family: 'MyFont';
  font-size: 22px;
  border:none;
  background-color: rgb(255,192,0);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border-radius: 7.5px;
}
#stats{
  padding-top: 50px;
  font-family: 'MyFont';
  background-color: rgb(240,240,240);
  display:flex;
  flex-direction: column;
}
#numbers{
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-bottom: 25px;
}
#numbers-1{
  padding-right: 50px;
  border-right: 2px solid gray;
  text-align: center
}
.nums{
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  color:rgb(255,192,0);
  margin-top: 50px;
}
#numbers-1,#numbers-2{
  color:black;
}
html {
  scroll-behavior:smooth;
}
#services{
  background-color: rgb(245,245,245);
}
#services-title{
  text-align:center;
  margin-bottom: 10px;
}
#services-title-main{
  font-size: 34px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight:bold;
  margin-bottom: -20px;
  display:block;
}
#services-list{
  display: flex;
  column-gap: 20px;
  text-align: center;
  padding-bottom: 100px;
  justify-content: center;
  
}
.services-box{
  transform: rotate(0deg);
  border:0 solid white;
  width: 225px;
  height: 280px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  opacity: 0;
  position: relative;
  transition: transform 0.5s ease,border 0.5s ease;
  flex-grow: 0;
  overflow: auto;
  max-width: 225px;
  box-sizing: border-box; 
}
.services-box:hover{
  background-color: rgb(245,245,245);;
}
.services-image{
  height: 35%;
  background-color: rgb(255,192,0);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.services-name{
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  width:100px;
  background-color: rgb(255,192,0);;
}
#i1{
  
  background-color: #FFC107;
}
#i2{
  background-color: #FFA000;
}
#i3{
  background-color: #FF4500;
}
#i4{
  background-color: #FF6F00;
}
.services-description{
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.lmB{
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border:none;
  border-radius: 25px;
  background-color: rgb(245,182,0);
  font-family: 'MyFont';
  font-weight: bold;
  cursor: pointer;
  transition: margin-bottom 1s;
}
.lmB:hover{
  background-color: rgb(225,162,0);
  margin-bottom:1px;
}
.services-description .lmB {
  opacity: 0;
  transition: opacity 0.15s;
}
.services-box:hover .lmB {
  opacity: 1;
}
.services-box:hover{
  border: 4.5px solid white;
}
#services-title-sub{
  font-size: 22px;
  color: gray;
}
